.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 80px auto;
}

.hero-left {
  margin-left: 10px;
  margin-right: 50px;
  width: 60%;
}

.hero-left-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-right {
  width: 30%;
  max-width: 250px;
  margin-right: 20px;
}

.hero-right-img {
  /* object-fit: contain; */
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    padding: 0;
  }

  .hero-left {
    margin: 0 auto;
  }

  .hero-left-content {
    align-items: center;
  }
}