.btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 8px 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.btn-light {
  background-color: white;
  color: var(--primary-color);
}

.btn-dark:hover {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid white;
}

.btn-dark {
  border: 1px solid white;
  background-color: var(--primary-color);
  color: white;
}

.btn-dark:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}