/* set variables for colors */
:root {
  --primary-color: #16264C;
  --secondary-color: #345092;
  --text-color-light: #fff;
  --text-color-gray: #e7e7e7;
}

/* set variables for font sizes */
/* set variables for font weights */
