/* set variables for colors */
:root {
  --primary-color: #16264C;
  --secondary-color: #345092;
  --text-color-light: #fff;
  --text-color-gray: #787878;
  --tertiary-color: #F5F5F5;
}

/* set variables for font sizes */
/* set variables for font weights */
