.footer-wrapper {
  width: 100%;
  font-size: 12px;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  max-width: 970px;
  width: 80%;
  margin: 0 auto;
  padding: .8rem 0;
}

.footer-content-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-content-left a, .footer-content-left div {
  margin: 0 5px;
  color: var(--tertiary-color);
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content-middle {
  width: 100px;
}

.footer-logo-img {
  width: 100%;
  margin: -20px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.footer-bottom div, .footer-bottom p, .footer-bottom a {
  margin: 1px 2px;
  color: var(--text-color-gray);
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .footer-content, .register {
    font-size: 10px;
  }

  .footer-content-middle {
    display: none !important;
  }

  .footer-content-left {
    margin: .6rem 0;
  }
  .footer-content-right {
    align-items: center;
    /* transform: translateX(13%); */
  }

  .footer-content-right p, .footer-content-right a {
    margin-top: .6rem;
    color: var(--text-color-gray);
  }
}